.navbar-default .navbar-nav>.active>a {

		font-family: 'Roboto', sans-serif;
		font-size: 10px;
}

.navbar-default .navbar-nav>li>a {

		font-family: 'Roboto', sans-serif;
		font-size: 10px;
}

#content h1 {

		font-family: 'Dancing Script', cursive;
		font-size: 100px;
		text-align: center;
		color: white;
		text-shadow: 1px 1px 2px black;
		padding-top: 150px;
}

#content h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		text-align: center;
		color: white;
		text-shadow: 1px 1px 2px black;
		padding-top: 50px;
		padding-bottom: 50px;

}

#aboutmeheader h1 {

		font-family: 'Dancing Script', cursive;
		font-size: 100px;
		text-align: center;
		color: black;
		text-shadow: 1px 1px 2px white;
		padding-top: 50px;
}

hr {	
		width: 650px;
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid rgba(0,0,0,0.2);
}

body {

	background-color: white;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;

}

.jumbotron {
	background:url(http://i.imgur.com/8QXgKMmh.jpg);
	background-position: center;
	background-size: cover;
	background height: 500px;
	margin-top: -50px;
	height: 600px;

}

.row {
		margin-bottom: 50px;
		display: center;
}

#social ul li {
		display: inline;
		padding: 20px;
		text-align: center;
		margin-bottom: 50px;
}

#social ul li a {
		color: black;

		
}

h2 {
	 padding-bottom: 20px;
}

p { 
	font-size: 15px; 
	font-family: 'Didact Gothic', sans-serif
}
Other font for blog
<!--font-family: 'Didact Gothic', sans-serif;-->