h1 { 
		 font-family: 'Lobster', cursive;
		 font-size: 60px;
		 text-align: center;
		 color: #ffd82a;
		 
}

body { 
	

		

}
ul {
		margin: auto;
        list-style-type: none;	
        font-family: 'Lobster', cursive;
		font-size:20px;
		text-align: center;
		color: #ffd82a;
		
		


}

li { 
		display: inline; 
		padding: 60px;
}

h3 { 	margin-left: 50px;
		color: #666;
 }

p {	
		text-align: center;
		color: #666;
		margin-left: 50px;
		margin-right: 50px
}